html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  	text-align: center;
  	width: 100%;
}

h4 {
	margin-bottom: 15px;
	margin-top: 20px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

table.table tr td.wide {
	width: 100%;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}

.bold {
	font-weight: bold;
}

.cursor-default {
	cursor: default;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.table-hover tr:hover {
	color: #000000;
	cursor: pointer;
}

/* Bootstrap overwrite */

.form-group {
	padding-left: 20px;
	padding-right: 20px;
}

.well {
	font: normal 12px Consolas;
	height: auto;
	overflow: auto;
	padding: 10px;
	position: relative;
}

.well-image {
	border-radius: 3px;
	display: inline-block;
	height: 110px;
	width: 110px;
	margin: 0 10px 0 0;
	position: relative;    
}
