html {
	cursor: default;
	overflow-y: scroll;	
}

body {
	font-size: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
  	width: 100%;
}

select {
	font-weight: bold;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}

.bold {
	font-weight: bold;
}

.cursor-default {
	cursor: default;
}

.table-hover tr:hover {
	color: #000000;
	cursor: pointer;
}

/* Page specific styles*/

.worksheet-area {
	/* padding: 10px 10px 10px 15px; */
}

#leftnav-padding {
	padding: 10px 15px 10px 10px;
}

#expired-session-styles {
	text-align: center;
	font: normal 12px Consolas;
}

/* Bootstrap overwrite */

.consolas {
	font: normal 16px Consolas;
}

.well-image {
	border-radius: 3px;
	display: inline-block;
	height: 120px;
	width: 120px;
	margin: 0 15px 0 0;
	position: relative;    
}

/*Teacher multichoice assesments*/

.teacher-multichoices li{
	display: inline-block;
	list-style: none;
}

.custom-ball {
	padding: 10px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.teacher-multichoice-selected {
	opacity: 1 !important;
	border: 1px solid #ccc;
	transform: scale(1.3);
	border: 1px solid black;
}

.assesment-textarea {
	min-width: auto;
	min-height: auto;
	width: 350px;
	height: 150px;
	resize: none;
}

.glyphicon {
	font-size: 20px;
}

.label-danger {
	display:none;
	padding: 20px;
	margin: 10px;
}

.label-success {
	display:none;
	padding: 20px;
	margin: 10px;
}

.imageRotateable {
	transition-duration: .6s;
}


